<%- include ../layouts/cabecera.ejs %>

    <br>
    <br>
    <a class="btn btn-primary" href="/libros/crear" type="button">Crear un nuevo libro</a>
    <br>
    <br>

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% for( let libro = 0; libro < libros.length; libro++ ) { %>
                <tr>
                    <td>
                        <%= libros[libro].id %>
                    </td>
                    <td>
                        <%= libros[libro].nombre %>
                    </td>
                    <td>
                        <img src="images/<%=libros[libro].imagen%>" alt="" class="img-thumbnail" width="100">

                    </td>
                    <td>

                        <div class="btn-group-vertical" role="group" aria-label="">
                            <form class="form-inline" method="get" action="/libros/editar<%=libros[libro].id%>">

                                <button type="submit" class="btn btn-warning">Editar</button>

                            </form>
                        </div>
                        |
                        <div class="btn-group-vertical" role="group" aria-label="">
                            <form class="form-inline" method="post" action="/libros/eliminar<%=libros[libro].id%>">

                                <button type="submit" class="btn btn-danger">Borrar</button>

                            </form>
                        </div>

                    </td>
                </tr>

                <% } %>

        </tbody>
    </table>
    <%- include ../layouts/pie.ejs %>